{:pom       {:group-id    "clj-mecab"
             :artifact-id "clj-mecab"
             :version     "1.0.0"
             :name        "Clojure MeCab wrapper library"}
 :packaging {:jar {:enabled           true
                   :remote-repository {:id "clojars" :url "https://clojars.org/clj-mecab"}}}
 :scm       {:enabled true}}
